/* Responsive columns */
@media screen and (max-width: 768px) {
  .header-container {
    display: block;
    margin-bottom: 20px;
  }
  .galery-item img {
    width: 130px;
    height: 130px;
  }
  .galery123 {
    width: 100%;
    margin-top: 0;
  }
  .footer-container {
  }
}
