/* Responsive columns */
@media screen and (max-width: 768px) {
  .header-container {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .galery-container {
    width: 100%;
    display: block;
  }
}
/* .header-logo {
    display: inline;
    padding-left: 35px;
  } */
