/* Responsive columns */
@media screen and (max-width: 768px) {
  .header-container {
    display: block;
    margin-bottom: 5vh;
  }
  .galery-item img {
    height: 20vh;
    width: 20vh;
  }
  .galery123 {
    margin-top: 0;
    width: 100%;
  }
  .footer-container {
    display: grid;
    background-color: var(--pilka);
    grid-template-columns: repeat (1, 1fr);
    justify-content: space-between;
    justify-content: center;
    width: 100%;
  }
  .galery12 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 1vh;
    justify-items: center;
  }
  .galery12-item {
    height: 45vh;
    width: 45vh;
  }
}
