/* nekintami, rootas, spalvos ir fontas */
* {
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --pilka: #727272;
  --gely: #decc00;
  --balta: #f6f7f4;
  --fontas: "Segoe UI", Roboto, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
/* ----------header----------- */
header {
  background: var(--pilka);
  text-align: center;
  padding: 1rem;
}
.header-container {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  max-width: 767px;
  margin: 0 auto;
}
.header-logo {
  align-items: center;
}
form {
  padding: 0.6rem 0.6rem;
}
/*inputo paddingai del svg icon */
input[type="search"] {
  padding: 0.6rem 0.6rem;
  width: 100%;
}
/* inputo svg backgroundas */
.inputo-bg-img input[type="search"] {
  background-image: url(/svg/earth-grid.svg);
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: 2% center;
  border: 2px solid rgb(20, 20, 20);
  border-radius: 0.5rem;
  padding-right: 0.6rem;
  padding-left: 5rem;
}
/* ------------Main-Dalis1-Dizaino-Pic---------- */
.main-container {
  background-image: url(/svg/Hollowed-Boxes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 89vh;
  text-align: center;
  padding: 4vh;
}
/* ------uzrasas ant backgroundo------ */
.centruotas {
  margin-top: 35vh;
  color: var(--balta);
  font-family: var(--fontas);
}
/* ----------Galerija-Gridas-Dalis2-Main------ */

.galery123 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10rem;
  justify-items: center;
  margin-top: -20vh;
  max-width: 100%;
}
.galery-item {
  border-radius: 50%;
  height: 35vh;
  width: 35vh;
}
/* ---small rem root things makes great jobs--- */
.tekstas {
  text-align: center;
}
a {
  color: var(--balta);
}
h4 {
  color: var(--gely);
  /* margin: 2vh; */
}
p {
  font: var(--fontas);
  padding: 0.4rem;
  font-family: var(--fontas);
}
/* ----------------------------------- */
.galery12 {
  display: flex;
  justify-content: space-around;
  padding: 3vh;
  gap: 1vh;
}

.galery12 > *:nth-child(2) {
  flex: 1 1 15%;
}
.galery12 > *:nth-child(4) {
  flex: auto;
}
.galery12-item {
  border-radius: 50%;
  width: 25vh;
  height: 25vh;
  max-width: 100%;
  margin-left: 80px;
}

.galerycardinfo > i,
span {
  display: block;
}
/* ---linija atskirti footeriui---- */
.line {
  background-color: var(--gely);
  height: 1.5vh;
  width: 100%;
}
/* ---------footer flex----------- */
.footer-container {
  background-color: var(--pilka);
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/*-footerio tekstasgeltonasparyskinintas-                                                    */
.title {
  color: var(--gely);
  font-weight: bold;
  font-size: large;
}
ul > li {
  text-align: center;
  list-style-type: none;
  color: var(--balta);
  font-family: var(--fontas);
}
