/* nekintami, rootas, spalvos ir fontas */
* {
  box-sizing: border-box;
  text-decoration: none;
}
:root {
  --pilka: #727272;
  --gely: #decc00;
  --balta: #f6f7f4;
  --fontas: "Segoe UI", Roboto, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
ul,
li {
  list-style-type: none;
  font: var(--fontas);
}
/* ----------header----------- */
header {
  background: var(--pilka);
  text-align: center;
  padding: 15px;
}
.header-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  max-width: 767px;
  margin: 0 auto;
}
.header-logo {
  align-items: center;
}
form {
  padding: 10px 10px;
}
/*inputo paddingai del svg icon */
input[type="search"] {
  padding: 10px 10px;
  width: 100%;
}
/* inputo svg backgroundas */
.inputo-bg-img input[type="search"] {
  background-image: url(/svg/earth-grid.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 98% center;
  border: 2px solid rgb(20, 20, 20);
  border-radius: 7px;
  padding-right: 5px;
}
/* ------------Main-Dalis1-Dizaino-Pic---------- */
.main-container {
  background-image: url(/svg/Hollowed-Boxes.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  text-align: center;
  padding: 20px;
}
.centruotas {
  margin-top: 303px;
  color: var(--balta);
}
/* ----------Galerija-Gridas-Dalis2-Main------ */
.galery123 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: center;
  margin-top: -110px;
}
.galery-item {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
.tekstas {
  text-align: center;
}
a {
  color: var(--balta);
}
h4 {
  color: var(--gely);
}
p {
  font: var(--fontas);
  padding: 10px;
}

/* .galery12                                   {  
                    display: grid;
                    width: 100%;
                    grid-template-columns: repeat(1, 1fr);
                    grid-column-gap: 50px;
                    justify-items: center;
                    justify-content: space-between;
                    margin-top: 0; 
                     
                                            } */
.galery12 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  justify-content: space-around;
}
.galery12 > span,
i {
  text-align: center;
}

.galery12-item {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.galery12-title {
  display: block;
  text-align: center;
  color: var(--gely);
}

/* ---linija---- */
.line {
  background-color: var(--gely);
  height: 8px;
  width: 100%;
}
/* ---------footer----------- */
.footer-container {
  background-color: var(--pilka);
  display: flex;
  justify-content: center;
  align-items: baseline;
}
/*-tekstasgeltonasparyskinintas-                                                    */
.title {
  color: var(--gely);
  font-weight: bold;
  font-size: large;
  padding: 7px;
}
ul > li {
  text-align: center;
}
